
*{
  margin: 2px;
  padding: 2px;
  box-sizing: border-box;
  background-color: rgb(2, 2, 17);
 
}
h2 {
  color: rgb(20, 220, 34);
  font-size: 5rem;
  border-radius: 20px;
  margin-bottom:20px ;
}
.active {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
 background-color: rgb(5, 96, 83);
  padding: 5px;
}
.laker {
  width: 50%;
  border-radius: 10px;
  margin-bottom: 20px;
}

p{
font-size: 1rem; 
line-height: 1.5rem;


}

.h1{
 font-size: 1.5rem;
 margin-bottom: 10px;
 
}

  
.show-article {
  display: block;
}

.hide-article {
  display: none;
}

