
*{
  margin: 2px;
  padding: 2px;
  box-sizing: border-box;
background-color: rgb(152, 93, 15);
}


p{
font-size: 18px;
color: rgb(23, 4, 4);
 max-width: 600px;


}

h1{
 font-size: 50px;
 font-weight: 35px;
 color: rgb(239, 228, 228);
 border: 16px;
 border: 20px;
}

  
.show-article {
  display: block;
}

.hide-article {
  display: none;
}

